@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #000;
  --white: #fff;
  --gray-dark: #232323;
  --green-blue: #00FFB2;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--dark);
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 17px;
}
.container h1 {
  display: flex;
  justify-content: center;
  margin: 17px auto;
  color: var(--white);
  font-size: 35px;
  font-weight: bold;
}
.container .banner-image {
  width: 600px;
  height: 900px;
  background-color: var(--green-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.container .banner-image img {
  width: 550px;
  height: 800px;
}
.container .banner-image p {
  font-size: 35px;
  font-weight: bold;
  color: var(--dark);
}
.container h2 {
  font-size: 35px;
  font-weight: bold;
  color: var(--white);
  text-align: center;
}

.description {
  width: 100%;
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
}
.description h1 {
  font-size: 35px;
  font-weight: bold;
  color: var(--white);
}
.description p {
  width: 100%;
  height: 165px;
  width: 2100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: var(--white);
  border-bottom: 1px solid var(--gray-dark);
  border-top: 1px solid var(--gray-dark);
}

.biography-container {
  width: 100%;
  display: flex;
}
.biography-container .information {
  padding: 0 90px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 100px;
}
.biography-container .information .personal-information {
  width: 500px;
  height: 550px;
  background-color: var(--gray-dark);
  border-radius: 10px;
  border: 2px solid var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.biography-container .information .personal-information h1 {
  font-size: 35px;
  font-weight: bold;
  color: var(--white);
}
.biography-container .information .personal-information p {
  font-size: 23px;
  font-weight: 200;
  color: var(--white);
}
.biography-container .information .personal-information p span {
  font-size: 32px;
  font-weight: bold;
}
.biography-container .information .cartel-information {
  width: 500px;
  height: 550px;
  background-color: var(--gray-dark);
  border-radius: 10px;
  border: 2px solid var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.biography-container .information .cartel-information h1 {
  font-size: 35px;
  font-weight: bold;
  color: var(--white);
}
.biography-container .information .cartel-information p {
  font-size: 23px;
  font-weight: 200;
  color: var(--white);
}
.biography-container .information .cartel-information p span {
  font-size: 32px;
  font-weight: bold;
}
.biography-container .information .wikpedia-button {
  width: 500px;
  height: 260px;
  background-color: var(--gray-dark);
  border-radius: 10px;
  border: 2px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.biography-container .information .wikpedia-button div {
  width: 400px;
  height: 160px;
  background-color: var(--green-blue);
  border-radius: 20px;
  border: 5px solid var(--dark);
  transition: all 0.5s;
}
.biography-container .information .wikpedia-button div:hover {
  background-color: #44ffc7;
}
.biography-container .information .wikpedia-button div img {
  width: 120px;
  height: 140;
}

.description-container {
  width: 100%;
  margin: 0 100px;
  padding: 20px 0;
  background-color: var(--gray-dark);
  border-radius: 10px;
  border: 1px solid var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}
.description-container h1 {
  font-size: 35px;
  font-weight: bold;
  color: var(--green-blue);
}
.description-container p {
  font-size: 25px;
  font-weight: 300;
  color: var(--white);
}
.description-container h3 {
  font-size: 20px;
  font-weight: 200;
  color: var(--white);
}

footer {
  width: 100%;
  margin-top: 110px;
  height: 100px;
  background-color: var(--gray-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer .criator h1 {
  font-size: 35px;
  font-weight: bold;
  color: var(--white);
}
footer .criator h1 span {
  color: var(--green-blue);
}/*# sourceMappingURL=style.css.map */